#logo{
    height: 180px;
    
    border-radius: 200px;
}
#links{
   text-align: center;
   /* padding-top: 60px; */
   margin-left: 50px;
   
  
 
 
}
#header{
    /* display: inline-flex; */
}
#head{
    align-content: start;
    border: 0px solid;
    background-color: rgb(19, 19, 19);
    display: -ms-inline-flexbox;
}
#profile{ 
    height: 200px;
    width: 160px;

}
#introduction{
  
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    border: 1px;
    align-content: start;
    position: -ms-page;
   color: aliceblue;

   padding-left: 40%;
 
}
#into{
    width: 50%;
    padding-left: 10%;
    
}
#profile{
    height: 250px;
    border-radius: 90px;
    margin-top: 20px;
    margin-left: 100px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 180px; 
     border-bottom-right-radius: 180px;


}
#about_me{
    display: inline-flex;
    background-color: #666666;
    padding-top: 200px;

}
#skills{
    

    display: inline-flex;
    padding-left: 10%;
    /* border: 2px solid green; */
    /* background-color: rgb(107, 139, 107); */
    
    
    
}

#HTMLs,#csss{
    border: 2px solid;
    width: 100px;
    margin-left: 30px;
    
    
    

}
#skills_header{
    
    padding-left: 10%;
    
}
#footeer{

    background-color: rgb(19, 19, 19);
 

}
#social-media{
    
   
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-left: 90%;
    text-align: center;
    



}
#CONTACT{
    background-color: white;
    justify-content: flex-end;
    margin-left: 90%;
    display: block;
    
}
#htm,#css,#JavaScript,#nodejs,#mysql{
    padding-bottom: 40px;
    border: 2px solid white;
    margin-right: 20px;
border-radius: 15px;
background-color: aliceblue;
width: 110px;
text-align: center;
padding-top: 50px;


}
#main_body{
    background-color: #666666;
    font-size: large;

}
#ski{
   
   
    background-color: #666666;
    padding-top: 50px;
    width: 500px;
    margin-left: 10%;
    padding-bottom: 50px;
}
#hobies{
    margin-left: 10%;
    padding-bottom: 50px;
    
}
#hoby_image{
    border:2px white solid ;
    height: 300px;
    width: 230px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    
    margin-left: 50%;
    text-align: center;
    padding-top: 50px;
}