
*{
    
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto ;
}


#logo{
    height: 180px;
    
    border-radius: 200px;
}
#links{
   text-align: center;
   /* padding-top: 60px; */
   margin-left: 50px;
   /* color: white; */
}
#navigation a{
    text-decoration: none;
    color: white ;
}
#header{
    /* display: inline-flex; */
}
#head{
    align-content: start;
    border: 0px solid;
    background-color: rgb(19, 19, 19);
    display: -ms-inline-flexbox;
    
}
#profile{ 
    height: 200px;
    width: 160px;

}
#introduction{
  
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    border: 1px;
    align-content: start;
    position: -ms-page;
   color: aliceblue;

   padding-left: 40%;
 
}
#into{
    width: 50%;
    padding-left: 10%;
    
}
#profile{
    height: 250px;
    border-radius: 90px;
    margin-top: 20px;
    margin-left: 100px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 180px; 
     border-bottom-right-radius: 180px;


}
#about_me{
    display: inline-flex;
    background-color: #666666;
    padding-top: 200px;

}
#skills{
    

    display: flex;
    padding-left: 10%;
    /* border: 2px solid green; */
    /* background-color: rgb(107, 139, 107); */
    /* height: 315px; */
    /* width: 90%; */
    overflow:visible;
    
    flex-wrap: wrap;
    
}


#skills_header{
    
    padding-left: 10%;
    
}
#footeer{

    background-color: aliceblue;
 

}
#social-media{
    
   
    /* background-color: white; */
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* margin-left: 80%; */
    text-align: center;
    margin-right: 10%;
    



}
#CONTACT{
    background-color: white;
    justify-content: flex-end;
    margin-left: 80%;
    display: block;
    
}
#htm,#css,#JavaScript,#nodejs,#mysql{
    padding-bottom: 40px;
    border: 2px solid white;
    margin-right: 20px;
border-radius: 15px;
background-color: aliceblue;
width: 18%;
text-align: center;
padding-top: 50px;


}
#htm img,#css img,#JavaScript img,#nodejs img,#mysql img{
    width:95%
}
#main_body{
    background-color: #666666;
    font-size: large;

}
#ski{
   
   
    background-color: #666666;
    padding-top: 50px;
    width: 70%;
    margin-left: 10%;
    padding-bottom: 50px;
}
#hobies{
    
    margin-left: 10%;
    padding-bottom: 50px;
    width: 90%;
    display: flex;
    padding-top: 100px;
    
}
#hoby_image{
    border:2px white solid ;
    height: 300px;
    width: 50%;
    border-radius: 40px;
    display: flex;
    justify-content: flex-end;
    
    margin-left: 50%;
    text-align: center;
   margin-top: 50px;
}
#ho{
    border: 3px white solid;
    margin: 10px;
    cursor: pointer;
}
#comment{
    height: 120px;
    width: 70%;
    border: 2px white solid;
    background-color: #666666;
    

}
#send{
    background-color: hsl(131, 96%, 49%);
    height: 20px;
    
}
#user{
    width: 20%;
    padding-right:10px ;
    margin-left: 10%;
    border: 2px black solid;
    margin-top: 100px;
    
    
}
#fName,#sName,#email{
    display: block;
    padding-bottom: 5px;
    background-color: #666666;
    width: 70%;
}
#navigation{
    color: green;
    font-style: italic;
    text-decoration: none;
}